name: Run Znachor Alert
on:
 schedule:
   - cron: 0 8 */4 * *
   # 23 grudnia (23 dzień, 12 miesiąc)
   - cron: '0 8 23 12 *' 
   # 30 kwietnia (30 dzień, 4 miesiąc)
   - cron: '0 8 30 4 *' 
   # 31 października (31 dzień, 10 miesiąc)
   - cron: '0 8 31 10 *'
 workflow_dispatch:
jobs:
 znachor:
   runs-on: ubuntu-latest
   steps:
     - name: checkout repo content
       uses: actions/checkout@v2 # checkout the repository content to github runner.
     - name: setup python
       uses: actions/setup-python@v2
       with:
         python-version: 3.11 #install the python needed
     - run: python -m pip install -r requirements.txt
     - run: python main.py --token ${{ secrets.TOKEN }}
     - name: Check if secret.txt exists
       id: check_secret
       run: |
         if [ -f secret.txt ]; then
           echo "exists=true" >> $GITHUB_OUTPUT
         else
           echo "exists=false" >> $GITHUB_OUTPUT
         fi
     - name: Get secret value from file
       id: get_secret_value
       if: steps.check_secret.outputs.exists == 'true'
       run: |
         SECRET_VALUE=$(cat secret.txt)
         echo "::set-output name=SECRET_VALUE::$SECRET_VALUE"
     - name: Set Action Secret
       if: steps.check_secret.outputs.exists == 'true'
       uses: hmanzur/actions-set-secret@v2.0.0
       with:
         name: TOKEN 
         value: ${{ steps.get_secret_value.outputs.SECRET_VALUE }} 
         repository: ${{ github.repository }} 
         token: ${{ secrets.PAT }}
     - name: Commit history file
       if: steps.check_secret.outputs.exists == 'true'
       uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
       with:
         # The arguments for the `git add` command (see the paragraph below for more info)
         # Default: '.'
         add: "history.json"
         author_name: Kaiser Bot
         message: "Update history.json file"

